@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.fullscreen-lodar {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid #f6b100;
  border-top: 4px solid #f6b100;
  border-radius: 50%;
  width: 50px;
}